{% extends './base.html' %}
{% block title %}主页{% endblock %}
{% block school %}
    <ul class="nav navbar-nav navbar-right">

        {% if request.session.is_login %}
            {% for i in schools %}
                <li><a href="#">{{ i.school_name }}</a></li>
            {% endfor %}
        {% endif %}
    </ul>
{% endblock %}
{% block content %}
    {% if request.session.is_login %}
        <ul class="nav nav-pills " id="nav">
            <li role="presentation" class="act active"><a href="#">查询学生刷单情况</a></li>
            <li role="presentation"><a href="#">更新数据</a></li>
            <li role="presentation"><a href="#">所有合作店铺</a></li>
            <li role="presentation"><a href="#">根据店铺推荐学生</a></li>
        </ul>
        <div id="container">
            <section class="tab">
                <div>
                    <div>
                        <div id="remark_div" style="float:right;"></div>
                        <form id="login_value" class="orm-inline" style="width:100%;">
                            <div>
                                <div class="form-group">
                                    <label for="username">姓名：</label>
                                    <input id="username" type="text" name="username" placeholder="请输入学生姓名">
                                </div>
                                <input type="button" value="搜索学生刷单情况" onclick="search()" class="btn btn-success">
                            </div>
                        </form>
                    </div>
                    <div style="width:50%;">
                        已刷
                    </div>

                    <div id="tb_div" style="width:25%;float:left;">
                    </div>
                    <div id="tb_div11" style="width:25%;float:left;">
                    </div>

                    <div id="tb_div2" style="width:25%;float:left;">
                    </div>
                    <div id="tb_div22" style="width:25%;float:left;">
                    </div>
                </div>
            </section>
            <section class="tab">
                <div style="width:100%;text-align:center">
                    <form enctype="multipart/form-data" method="post">
                        <div class="form-group">
                            <label for="myfile" class="col-md-5"></label>
                            <input type="file" id="myfile" style="text-align:center;vertical-align:middle;"/>
                        </div>
                        <br/>
                        <input type="button" value="上传并更新数据" onclick="upload()" class="btn btn-primary">
{#                        <input type="button" value="下载当日日志" onclick="download()" class="btn btn-primary">#}
                        <a href="http://129.204.185.247:8888/index">日志下载</a>
                        <div id="download"></div>
                    </form>
                </div>
            </section>
            <section class="tab">
                {#                <div style="text-align:center"><input type="button" value="进行合并" onclick="merge() "#}
                {#                                                      class="btn btn-primary"></div>#}

                <table class="table table-bordered table-striped">
                    <thead align="center">
                    <tr>
                        {#                        <th >选择主店铺</th>#}
                        {#                        <th>选择副店铺(将要被合并的店铺)</th>#}
                        <th>店铺名称</th>
                        <th> 店铺ID</th>
                    </tr>
                    </thead>
                    <tbody>
                    <form id="shop_merge" class="orm-inline">
                        {% for shop in shop_list %}
                            <tr>
                                <th>{{ shop.shop_name }}</th>
                                <th>{{ shop.id }}</th>
                            </tr>
                        {% endfor %}
                    </form>

                    {#                    {% for shop in  %}#}
                    </tbody>
                </table>

            </section>
            <section class="tab">
                <form id="shop_value" class="orm-inline">
                    <div style="float:left;text-align:center">
                        <div class="form-group">
                            <label for="shopname">店铺名：</label>
                            <input id="shopname" type="text" name="shopname" placeholder="请输入店铺名或店铺ID">
                        </div>
                        <input type="button" value="根据店铺名或店铺ID推荐学生" onclick="recommended_search()"
                               class="btn btn-primary">
                    </div>
                </form>
                <!-- Modal -->
                <div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="alert alert-danger" role="alert">
                            <h3>拉黑该名学生？</h3>
                            {#                            display: none;#}
                            <div>...<input style="display: none;" type="text" id="delNid"/></div>
                            <div>
                                <button type="button" class="btn btn-default" onclick="cancel()">取消</button>
                                <button id="delConfirm" type="button" class="btn btn-danger" onclick="bindDelConfirm()">
                                    确定
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tb_div3">

                </div>
            </section>
        </div>
        <script src="../../static/JS/jquery.js"></script>
        <script src="../../static/JS/jquery.form.js"></script>
        <script>
            window.onload = function () {
                var nav = document.getElementById('nav');
                var oNav = nav.getElementsByTagName('li');

                var container = document.getElementById('container');
                var oDiv = container.getElementsByClassName('tab');

                for (let i = 0; i < oNav.length; i++) {
                    oNav[i].index = i;
                    oNav[i].onclick = function () {
                        for (let i = 0; i < oNav.length; i++) {
                            oNav[i].className = '';
                            oDiv[i].style.display = "none";
                        }
                        //先全部设置为空，然后那一个设置为act
                        this.className = 'act active';
                        oDiv[this.index].style.display = "block" //显示
                    }
                    for (let m = 1; m < oNav.length; m++) {
                        oNav[m].className = '';
                        oDiv[m].style.display = "none"; //不会被显示
                    }
                }
            }
            ;


        </script>
        <script>
            function cancel() {
                $('#delModal').modal('hide');
            }

            function bindDelConfirm() {
                {

                    var tb_username = $('#delNid').val();

                    $.ajax({
                        url: '/block_student/',
                        type: 'POST',
                        data: {'tb_username': tb_username},
                        success: function (arg) {
                            var dict = JSON.parse(arg);
                            if (dict.status) {
                                $('tr[name="' + tb_username + '"]').remove();
                            }
                            $('#delModal').modal('hide');
                        }
                    })
                }
            }
        </script>
        <script>
            function editremark(name) {
                var s = "#" + name;
                var tr = $(s).children()[4];
                var input = tr.children[0];
                var data = input.value;
                var s = {'remark': data, 'tb_name': name};
                $.ajax({
                    url: "/editremark/", //请求地址
                    type: "POST",       //请求类型
                    data: s,
                    success: function (data) {
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert("修改错误");
                    }

                })

            }

            function bindDel() {
                $.when(aj).done(function () {
                    $(".del-row").on('click', function (e) {
                        $('#delModal').modal('show');
                        var tb = $(this).parent().parent().attr('name');
                        $('#delNid').val(tb);
                    })

                })
            }
        </script>
        <script>
            function search() {  //获取到按钮的点击事件
                $.ajax({
                    url: "/ajaxsearch/", //请求地址
                    type: "POST",       //请求类型
                    data: $('#login_value').serialize(),


                    success: function (data) {

                        var data1 = JSON.parse(data);

                        var data2 = data1.slice(0, data1.length / 2)
                        var data3 = data1.slice(data1.length / 2)


                        var s = document.createElement("table");
                        s.setAttribute("class", "table table-bordered table-striped");

                        var th = document.createElement("thead");

                        var th1 = document.createElement("tr");
                        var th2 = document.createElement("th");
                        th2.innerHTML = "淘宝用户名";
                        th1.append(th2);

                        var th4 = document.createElement("th");
                        th4.innerHTML = "店铺名";
                        th1.append(th4);

                        var th5 = document.createElement("th");
                        th5.innerHTML = "最后刷单时间";
                        th1.append(th5);

                        th.append(th1);
                        s.append(th);
                        var tbod = document.createElement("tbody");

                        $.each(data2, function (index, obj) {
                            var tr = document.createElement('tr');

                            var tb_th = document.createElement('th');
                            tb_th.innerHTML = obj.tb_username;
                            tr.append(tb_th);

                            var shop_th = document.createElement('th');
                            shop_th.innerHTML = obj.shop_name;
                            tr.append(shop_th);

                            var last_th = document.createElement('th');
                            last_th.innerHTML = obj.last_time;
                            tr.append(last_th);
                            tbod.append(tr);
                            s.append(tbod)
                            $('#tb_div').empty();
                            $('#tb_div').append(s);
                        })

                        var s = document.createElement("table");
                        s.setAttribute("class", "table table-bordered table-striped");

                        var th = document.createElement("thead");

                        var th1 = document.createElement("tr");
                        var th2 = document.createElement("th");
                        th2.innerHTML = "淘宝用户名";
                        th1.append(th2);

                        var th4 = document.createElement("th");
                        th4.innerHTML = "店铺名";
                        th1.append(th4);

                        var th5 = document.createElement("th");
                        th5.innerHTML = "最后刷单时间";
                        th1.append(th5);

                        th.append(th1);
                        s.append(th);
                        var tbod = document.createElement("tbody");

                        $.each(data3, function (index, obj) {
                            var tr = document.createElement('tr');

                            var tb_th = document.createElement('th');
                            tb_th.innerHTML = obj.tb_username;
                            tr.append(tb_th);

                            var shop_th = document.createElement('th');
                            shop_th.innerHTML = obj.shop_name;
                            tr.append(shop_th);

                            var last_th = document.createElement('th');
                            last_th.innerHTML = obj.last_time;
                            tr.append(last_th);
                            tbod.append(tr);

                        })
                        s.append(tbod)
                        $('#tb_div11').empty();
                        $('#tb_div11').append(s);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert("查询错误或当前用户尚未添加管理学校.");
                    }
                })
                $.ajax({
                    url: "/ajaxsearchtwo/", //请求地址
                    type: "POST",       //请求类型
                    data: $('#login_value').serialize(),

                    success: function (data) {
                        var data1 = JSON.parse(data);

                        var data2 = data1.slice(0, data1.length / 2)
                        var data3 = data1.slice(data1.length / 2)

                        var s = '<table class="table table-bordered table-striped"> <thead align="center"> <tr>' +
                            ' <th >未刷过店铺名</th> <th>淘宝用户名</th>' + '</tr>' + '</thead> <tbody>';
                        $.each(data2, function (index, obj) {
                            s += '<tr>' + '<th>' + obj.shop_name + '</th>' +
                                '<th>' + obj.tb_username + '</th>' + '<tr>'

                        })
                        s += '</tbody>\n' +
                            '</table>';
                        $('#tb_div2').empty();
                        $('#tb_div2').append(s);

                        var s = '<table class="table table-bordered table-striped"> <thead align="center"> <tr>' +
                            ' <th>未刷过店铺名</th> <th>淘宝用户名</th>' +
                            '</tr>' + '</thead> <tbody>';
                        $.each(data3, function (index, obj) {
                            s += '<tr>' + '<th>' + obj.shop_name + '</th>' +
                                '<th>' + obj.tb_username + '</th>' +
                                '<tr>'

                        })
                        s += '</tbody>\n' +
                            '</table>';

                        $('#tb_div22').empty();
                        $('#tb_div22').append(s);


                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert("查询错误.");
                    }
                })
                $.ajax({
                    url: "/remarkdata/", //请求地址
                    type: "POST",       //请求类型
                    data: $('#login_value').serialize(),
                    success: function (data) {
                        var jsonData = JSON.parse(data);
                        var s = `<form id=remark_data>
                                    <input id="new_remark" name="new_remark" value =${jsonData.remark} style="width:400px;height:100px" onblur="changeremark()"/>
                                 </form>`
                        $('#remark_div').empty();
                        $('#remark_div').append(s);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert("查询错误或当前用户尚未添加管理学校.");
                    }
                })
            }
        </script>
        <script>
            function changeremark(){
                var name =document.forms[1].username.value;
                var new_remark =document.forms[0].new_remark.value;

                $.ajax({
                    url: "/changeremark/", //请求地址
                    type: "POST",       //请求类型
                    data: {'username':name,'remark':new_remark},

                    success: function (data) {
                        //
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert("修改备注错误");
                    }
                    })
            }
        </script>
        <script>
            function download() {
                var down1 = document.createElement("a");
                down1.setAttribute("href", "/static/xxx.xlsx");
                down1.innerHTML = "日志下载链接";
                $('#download').append(down1);
            }

            function upload() {
                var formData = new FormData();
                formData.append("file", document.getElementById('myfile').files[0]);
                $.ajax({

                    url: '/uploadFile/',
                    type: 'POST',
                    data: formData, // 上传formdata封装的数据包
                    dataType: 'JSON',
                    cache: false, // 不缓存
                    processData: false, // jQuery不要去处理发送的数据
                    contentType: false, // jQuery不要去设置Content-Type请求头

                    success: function (data) { // 成功回调

                        alert("上传成功具体执行结果查看日志");

                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(errorThrown);
                    }

                })
            }
        </script>
        <script>
            function merge() {  //获取到按钮的点击事件
                $.ajax({
                    url: "/shop_merge/", //请求地址
                    type: "POST",   //请求类型
                    data: $('#shop_merge').serialize(),

                    success: function (data) {
                        alert(data);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert("合并失败");
                    }
                })
            }
        </script>
        <script>
            var aj;

            function recommended_search() {
                alert("已进行搜索，请稍作等待.");
                aj = $.ajax({
                    url: "/recommended_students/", //请求地址
                    type: "POST",   //请求类型
                    data: $('#shop_value').serialize(),

                    success: function (data) {

                        var data1 = JSON.parse(data);
                        var s = document.createElement("table");
                        s.setAttribute("class", "table table-bordered table-striped");

                        var th = document.createElement("thead");

                        var th1 = document.createElement("tr");
                        var th2 = document.createElement("th");
                        th2.innerHTML = "淘宝用户名";
                        th1.append(th2);

                        var th3 = document.createElement("th");
                        th3.innerHTML = "姓名";
                        th1.append(th3);

                        var th4 = document.createElement("th");
                        th4.innerHTML = "学校";
                        th1.append(th4);

                        var th5 = document.createElement("th");
                        th5.innerHTML = "已刷单数量";
                        th1.append(th5);

                        var th7 = document.createElement("th");
                        th7.innerHTML = "备注信息";
                        th1.append(th7);

                        var th6 = document.createElement("th");
                        th6.innerHTML = "操作";
                        th1.append(th6);

                        th.append(th1);
                        s.append(th);
                        var tbod = document.createElement("tbody");

                        $.each(data1, function (index, obj) {
                            var tr = document.createElement('tr');
                            tr.setAttribute("name", obj.tb_username);
                            tr.setAttribute("id", obj.tb_username);
                            var tb_th = document.createElement('th');
                            tb_th.innerHTML = obj.tb_username;
                            tr.append(tb_th);
                            var name_th = document.createElement('th');
                            name_th.innerHTML = obj.name;
                            tr.append(name_th);

                            var sch_th = document.createElement('th');
                            sch_th.innerHTML = obj.school_name;
                            tr.append(sch_th);

                            var count_th = document.createElement('th');
                            count_th.innerHTML = obj.count_;
                            tr.append(count_th);

                            var remark_th = document.createElement('th');

                            var remark_form = document.createElement('form');
                            remark_form.setAttribute("id", "remarkform");
                            var remark_input = document.createElement("input");
                            remark_input.setAttribute("value", obj.remark);
                            remark_input.setAttribute("class", "edit-row");


                            var s2 = "editremark(\"" + obj.tb_username + "\")";
                            remark_input.setAttribute("onblur", s2);

                            remark_th.append(remark_input);
                            tr.append(remark_th);


                            var op_th = document.createElement('th');
                            var a = document.createElement("a");
                            a.setAttribute("class", "glyphicon glyphicon-remove icon del-row");
                            a.setAttribute("onclick", "bindDel()");
                            op_th.append(a);
                            tr.append(op_th);

                            tbod.append(tr);
                            tbod.setAttribute("id", "abc");

                        })
                        s.append(tbod);
                        $('#tb_div3').empty();
                        $('#tb_div3').append(s);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert("查询错误或当前用户尚未添加管理学校.");
                    }
                })
            }

        </script>
    {% else %}
        <h1> 你尚未登录，只能访问公开内容！</h1>
    {% endif %}
{% endblock %}




